/* stylelint-disable custom-property-pattern */
@tailwind base;
@tailwind components;
@tailwind utilities;

.ockConnectWallet_Container span {
    color: #fff
}

.templateSection > div {
    max-width: 100%;;
}

div[data-rk] {
    height: 100%;
}
